@font-face {
  font-family: "Rok Grotesk";
  src: url(".../fonts/full/Kostic - Roc Grotesk Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rok Grotesk";
  src: url("../fonts/full/Kostic - Roc Grotesk Bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Rok Grotesk";
  src: url("../fonts/full/Kostic - Roc Grotesk ExtraBold.otf")
    format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Rok Grotesk Wide";
  src: url("../fonts/full/Kostic - Roc Grotesk Wide.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rok Grotesk Wide";
  src: url("../fonts/full/Kostic - Roc Grotesk Wide/ Bold.otf")
    format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Rok Grotesk Wide";
  src: url("../fonts/full/Kostic - Roc Grotesk Wide/ ExtraBold.otf")
    format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Rok Grotesk Condensed";
  src: url("../fonts/full/Kostic - Roc Grotesk Condensed.otf")
    format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rok Grotesk Condensed";
  src: url("../fonts/full/Kostic - Roc Grotesk Condensed/ Bold.otf")
    format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Rok Grotesk Condensed";
  src: url("../fonts/full/Kostic - Roc Grotesk Condensed/ ExtraBold.otf")
    format("opentype");
  font-weight: bolder;
}
