@font-face {
  font-family: "Rok Grotesk";
  src: url("../fonts/rocgrotesk-regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rok Grotesk";
  src: url("../fonts/rocgrotesk-bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Rok Grotesk";
  src: url("../fonts/rocgrotesk-extrabold.otf") format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Rok Grotesk Wide";
  src: url("../fonts/rocgroteskwide-regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rok Grotesk Wide";
  src: url("../fonts/rocgroteskwide-bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Rok Grotesk Wide";
  src: url("../fonts/rocgroteskwide-extrabold.otf") format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "Rok Grotesk Condensed";
  src: url("../fonts/rocgroteskcond-regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Rok Grotesk Condensed";
  src: url("../fonts/rocgroteskcond-bold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Rok Grotesk Condensed";
  src: url("../fonts/rocgroteskcond-extrabold.otf") format("opentype");
  font-weight: bolder;
}
